@using WebSupport.Entities
@using WebSupport.Models.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/_LayoutMain.cshtml";
}

@model IList<IssueViewModel>

    <h1></h1>
<div class="table-scroll">
    <table name="table" class="table">
        <tread class="table-row-tread">
            <tr class="columns-table">
                <th>Проект</th>
                <th>Трекер</th>
                <th>Тема</th>
                <th>Описание</th>
                <th>Создано</th>
                <th>Автор</th>
                <th></th>
            </tr>
        </tread>
        <tbody>
   
            @if (Model.Count() > 0)
            {
                foreach (var issue in Model)
                {
                    <tr>
                        <td class="cell-multi">@issue.ProjectName</td>
                        <td>@issue.TrackerName</td>
                        <td>@issue.issue.Subject</td>
                        <td class="cell-multi">@issue.issue.Description</td>
                        @{
                            if (issue.issue.CreatedOn != null)
                            {
                                <td>
                                    @((DateTime)issue.issue.CreatedOn)
                                </td>
                            }
                            else
                            {
                                <td>

                                </td>
                            }
                        }
                        <td>@issue.AuthorName</td>
                        <td><a href="issues/submit/@issue.issue.Id">Назначить себя</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
