@using WebSupport.Account
@using WebSupport.Data
@using WebSupport.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/_LayoutMain.cshtml";

    RedmineContext appContext = ViewBag.AppContext;

    IEnumerable<SelectListItem> statuses = new SelectList(Model.Statuses, "Id", "Name");

    ViewData.Add("statuses", statuses);

    bool admin = Account.currentUser.Admin;
}

@model MyIssueViewModel
<style>
    #div_top_hypers {
        background-color: #eeeeee;
        display: inline;
    }

    #ul_top_hypers li {
        display: inline;
    }
</style>
<div class="table-scroll">
    @{
        string name = Account.currentUser.Lastname + ' ' + Account.currentUser.Firstname[0].ToString() + '.';
        string admins = "";
        if (Account.currentUser.Admin)
        {
            admins = "Администратор";
        }
        else
        {
            admins = "Сотрудник";
        }
    }
    <div id="div_top_hypers">
        <ul style="margin-top:15px; text-align:end; font-size:18px;" id="ul_top_hypers">
            <li id="user-label">@admins: @name</li>
            <li>
                <h2 id="main-header">Мои задачи</h2>
                <hr align="right" width="100%" size="3" color="#1e5484" style="width:99%; margin-top:0;" />
                <br />
            </li>
        </ul>
    </div>

    <form id="div_top_hypers">
        <input class="search-string" type="text" placeholder="Поиск по теме" id="search"/>
        <input id="search-btn" class="btn" type="submit" value="Найти"/>
    </form>

    <table name="table" class="table">
        <tread class="table-row-tread">
            <tr class="columns-table">
                <th>Проект</th>
                <th>Трекер</th>
                <th>Тема</th>
                <th>Описание</th>
                <th>Создано</th>
                    <th>Статус</th>
            </tr>
        </tread>
        <tbody>
            @if (Model.issues.Count() > 0)
            {
                foreach (var issue in Model.issues)
                {
                    <tr>
                        <td class="cell-multi">@issue.ProjectName</td>
                        <td id="row-table-td">@issue.TrackerName</td>
                        <td id="row-table-td">@issue.issue.Subject</td>
                        <td id="row-table-td" class="cell-multi">@issue.issue.Description</td>
                        @{
                            if (issue.issue.CreatedOn != null)
                            {
                                string time = ((DateTime)issue.issue.CreatedOn).ToString("f");
                                <td id="row-table-td">@time</td>
                            }
                            else
                            {
                                <td id="row-table-td">
                                </td>
                            }
                        }
                       
                        <td id="row-table-td">@issue.status</td>
                        @{
                            if (issue.issue.UpdatedOn != null)
                            {
                                string time = ((DateTime)issue.issue.UpdatedOn).ToString("f");
                                <td id="row-table-td">@time</td>
                            }
                            else
                            {
                                <td id="row-table-td">
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>