@using WebSupport.Entities
@using WebSupport.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/_LayoutMain.cshtml";

    RedmineContext appContext = ViewBag.AppContext;

    IEnumerable<SelectListItem> statuses = new SelectList(Model.Statuses, "Id", "Name");

    ViewData.Add("statuses", statuses);
}

@model MyIssueViewModel

<div class="table-scroll">
    <h2 style="margin-top:15px;margin-bottom:5px;">Мои задачи</h2>
    <hr align="center" width="100%" size="7"  />
    <br />
    <table name="table" class="table">
        <tread class="table-row-tread">
            <tr class="columns-table">
                <th>Проект</th>
                <th>Трекер</th>
                <th>Тема</th>
                <th>Описание</th>
                <th>Создано</th>
                <th>Комментарии</th>
                <th></th>
            </tr>
        </tread>
        <tbody>
            @if (Model.issues.Count() > 0)
            {
                foreach (var issue in Model.issues)
                {
                    <tr>
                        <td class="cell-multi">@issue.ProjectName</td>
                        <td id="row-table-td">@issue.TrackerName</td>
                        <td id="row-table-td">@issue.issue.Subject</td>
                        <td id="row-table-td" class="cell-multi">@issue.issue.Description</td>
                        @{
                            if (issue.issue.CreatedOn != null)
                            {
                                string time = ((DateTime)issue.issue.CreatedOn).ToString("f");
                                <td id="row-table-td">@time</td>
                            }
                            else
                            {
                                <td id="row-table-td">
                                </td>
                            }
                        }
                        <td id="row-table-td">@issue.status</td>
                        <td id="row-table-td">@Html.DropDownList("statuses", ViewData["statuses"] as IEnumerable<SelectListItem>, "Выберите для смены")</td>
                        <td><button type="submit" id="btn-status" class="btn">Изменить статус</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>